# Snowflake connection configuration
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=

SNOWFLAKE_WAREHOUSE=CREDITPULSE_WH
SNOWFLAKE_DATABASE=CREDITPULSE
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=CREDITPULSE_ENGINEER_ROLE