# Snowflake connection configuration
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SEC_USER_AGENT="CreditPulse your-email@example.com"
DBT_SCHEMA=CORE
FRED_API_KEY=
SNOWFLAKE_WAREHOUSE=CREDITPULSE_WH
SNOWFLAKE_DATABASE=CREDITPULSE
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=CREDITPULSE_ENGINEER_ROLE